<div class="content-section breaches-chart">
	<div class="content-section-header">
		Current Performance &nbsp;–&nbsp; About to Breach &amp; Breached<span class="icon icon-dashboard-widget-info" title="Shows a summary of 18 week period breaches and Event milestone breaches.&#013;Clicking on a circle leads to the 18 week period breaches or Event milestone breaches pages, respectively."></span>
	</div>

	<div class="content-section-body">
		<div class="chart" ng-class="{'loading':!breachesChart.dataReceived}">
		</div>
	</div>
</div>